body{
	font-family: "微软雅黑";
	width:100%;height:100%;
	background-color: #f7f9fb;
}
h1{
	margin: 0;
}
@font-face {
	font-family:'fangzheng';
	src:  url(../fonts/fz.TTF);
}
.navbar-brand{
	font-size: 30px;
	font-weight: bold;
	color: #40d2b1;
	font-family: "fangzheng";
}
.my-navbar {padding:20px 0;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;}  
.my-navbar a{background:transparent !important;color:#000000 !important}  
.my-navbar a:hover {color:#45bcf9 !important;background:transparent;outline:0}  
.my-navbar a {transition: color 0.5s ease-in-out;}/*-webkit-transition ;-moz-transition*/  
.top-nav {padding:0;background-image: url(../img/微信图片_20180427180635.jpg);background-position: center center;}  
button.navbar-toggle {background-color:#fbfbfb;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/  
button.navbar-toggle > span.icon-bar {background-color:#dedede}  	
.container{
    padding-left: 80px;
	width: 100%;
}


.content{
	height: 100%;
	border-top: 3px solid #3C763D;
	margin-top: 80px;
	padding: 0;
	background-color: white;
	
}
.contenthead{
	height: 65px;
	padding: 0;
	border-bottom: 1px #eeeeee solid;
}
.contenthead h1{
	line-height: 65px;
	font-size: 25px;
}
.content-block{
	height:600px;
	padding: 0;
	border-bottom: 1px #eeeeee solid;
}
.user-info{
	height: 600px;
	border-right:1px #eeeeee solid;
}
.main-content{
	height:600px;
	padding: 30px 20px 0 20px;
}
.floor{
	font-size: 12px;
    color: #bfbfbf;
    line-height: normal;
}
.right-content{
	height: 450px;
}
.time{
	text-align: right;
	border-top:1px #eeeeee solid ;
	padding-top: 3px;
}
.time p{
	font-size: 12px;
    color: #bfbfbf;
    line-height: normal;
}

.text-center{
	padding: 0;
}
